[job_builder]
ignore_cache=True
keep_descriptions=True
include_path=/
recursive=False
allow_duplicates=False
update=all

[jenkins]
user={{ jenkins_username }}
password={{ jenkins_password }}
url=http://192.168.33.20:9000